body{
	margin: 0;
	padding: 0;
}

* {
    box-sizing: border-box;
}

.signup-form {
    width: 100%;
    float: left;
    background: #152733;
    height: 100vh;
    position: relative;
}

.form-section {
    width: 350px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.form-section img {
    width: 30%;
    margin-bottom: 70px;
    margin-top: 30px;
}

.form-section h1 {
    color: #fff;
    font-size: 30px;
    margin: 0;
    font-weight: 100;
}

.form-section p {
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    margin: 10px 0 40px;
}

.form-section strong {
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 15px;
    display: block;
}

form input {
    width: 100%;
    margin-bottom: 10px;
    border: 0;
    font-size: 16px;
    font-weight: 100;
    border-radius: 3px;
    padding: 10px 15px;
    
}

form input[type="submit"] {
    width: auto;
    text-transform: uppercase;
    font-weight: 500;
    background: #2196F3;
    color: #ffffff;
    padding: 8px 35px;
    border-radius: 8px;
    margin-top: 15px;
}

.register_option {
    color: #fff;
    margin-top: 50px;
    margin-left: 15%;
}



    
}

.register_option ul {
    margin: 0;
    padding: 0;
    float: left;

}

.register_option ul li {
    float: left;
    list-style: none;
}

.register_option ul li a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    padding: 0 10px;

